:global {
  :local(.flower-container) {
    display: flex;
    width: 100%;

    .flower-render-container {
      flex-grow: 1;
      height: 100lvh;
      background-color: #242424;


      .react-flow__edge {
        path.react-flow__edge-path {
          stroke-width: 2;
          background-color: #484848;
          stroke: #484848;
          transition: background-color .2s, stroke .2s;
        }

        &.selected path.react-flow__edge-path {
          background-color: #fff;
          stroke: #fff;
        }

      }
    }
  }

  :local(.flower-right-sidebar-container) {
    width: fit-content;
    height: 100%;
    border-left: 1px solid #343434;

    .flower-right-sidebar {
      display: flex;
      flex-direction: column;
      width: 320px;
      height: 100%;
      background-color: #111;

      .sidebar-form {
        flex-grow: 1;
        overflow: auto;
        color: #fff;

        &>header {
          display: flex;
          align-items: center;
          height: 50px;
          width: 100%;
          border-bottom: 1px solid #343434;
          padding: 0 16px;
        }

        .sidebar-form-item-container {
          padding: 16px;
          flex-grow: 1;
          overflow: auto;

          .ant-form-item {
            margin-bottom: 0;

            .ant-form-item-label label {
              font-size: 13px;
              color: #f8f8f8;
            }

            // input {
            //   height: 32px;
            //   border-radius: 6px;
            //   border: 1px solid #343434;
            //   font-size: 13px;
            //   color: #fff;
            //   background-color: #252525;
            // }

            &:not(:first-child) {
              margin-top: 12px;
            }
          }
        }
      }
    }
  }

  :local(.menu-wrapper) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    &.attach-menu {
      position: absolute;
      bottom: -32px;
      left: 0;
      right: 0;
    }

    .menu-trigger {
      border-radius: 8px;
      width: 22px;
      height: 22px;
      text-align: center;
      font-size: 14px;
      line-height: 22px;
      cursor: pointer;
      opacity: 1;
      transition: .25s;
      background-color: #484848;
      color: #fff;

      .menu-trigger-icon {
        display: inline-flex;
        align-items: center;
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -0.125em;
        text-rendering: optimizelegibility;
        -webkit-font-smoothing: antialiased;
      }

      &:hover {
        background-color: #4081ff;
      }
    }

    &.disabled {
      .menu-trigger {
        color: #ccc;
        cursor: not-allowed;

        &:hover {
          background-color: #484848;
        }
      }
    }
  }

  ul.ant-dropdown-menu {
    padding: 5px 8px;
    border-radius: 12px;
    background-color: #343434;
    box-shadow: none;

    .ant-dropdown-menu-item-divider {
      background-color: #484848;
    }

    li {
      color: #fff;

      &.ant-dropdown-menu-item,
      .ant-dropdown-menu-submenu-title {
        color: #fff;

        .ant-dropdown-menu-submenu-arrow-icon {
          color: #fff;
        }

        &:hover {
          border-radius: 8px;
          background: rgba(255, 255, 255, .1);
        }
      }

      // 激活状态
      &.ant-dropdown-menu-item-active {
        background-color: transparent;
      }

      // 禁用状态
      &.ant-dropdown-menu-item-disabled {
        color: #ffffffa6 !important;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
